.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttons button {
    border-radius: 0;
    background-color: transparent;
    border: none;
    margin: 0 0 1em;
    transition: none;
}

.buttons button:hover {
    outline: none;
    border: 0.17em none #1C110A;
    border-bottom-style: solid;
    margin: 0 0 1em;
}

@media screen and (min-width: 512px){
    .buttons button {
        width: 20%;
    }
}

@media screen and (max-width: 512px){
    .buttons {
        flex-wrap: wrap;
    }
}

.buttons button.attivo {
    outline: none;
    border: 0.17em none rgb(28, 17, 10);
    border-bottom-style: solid;
}

#registrazione {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.75em;
}

#registerForm input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.75em;
}

#registerForm button {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #registerForm input {
        width: 48%;
        margin-bottom: 0;
    }

    #loginForm input {
        width: 48%;
        margin-bottom: 0;
    }
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.75em;
}

#loginForm button {
    width: 100%;
}

button[type="submit"] {
    color: #f1f1f1;
    background-color: #1C110A;
}

button[type="submit"]:hover {
    outline: #f1f1f1 solid 0.17em;
}
