body {
    background: rgb(255,119,0);
    background: radial-gradient(circle, rgba(255, 183, 125, 0.65) 0%, rgba(61, 28, 0, 0.58) 100%);
}

.contenitore_scoperta {
    display: block;
    background-image: linear-gradient(to top, rgb(134, 59, 0), transparent), url("../image/banner.jpg");
    height: 50%;
    margin-top: 1em;
    border-radius: 0.2em;
    border: 0.15em #1c110a solid;
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 38.5%;
}

.contenitore_scoperta:hover {
    background-image: linear-gradient(to top, rgb(98, 39, 1), transparent), url("../image/banner.jpg");
}

.contenitore_scoperta .contenitore_bottone_scopri {
    position: absolute;
    bottom: 0;
    left: 1em;
}

.contenitore_scoperta .contenitore_bottone_scopri h1 {
    color: #f1f1f1;
    text-shadow: #1C110A 2px 2px 3px;
}

@media screen and (max-width: 700px) {
    .contenitore_scoperta .contenitore_bottone_scopri h1 {
        font-size: 100%;
    }
}

.contenitore_prodotti_homepage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h2_padding {
    padding-left: 10%;
    margin-top: 2.5em;
}

.contenitore_prodotto_homepage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0.3em;
    background-color: rgba(140, 61, 0, 0.37);
    border: 0.15em #1c110a solid;
    border-radius: 0.3em;
    padding: 3% 5%;
    transition: 200ms;
    max-width: 10em;
}

.contenitore_prodotto_homepage:hover {
    background-color: rgba(49, 19, 0, 0.58);
    transform: translateY(-0.3em);
    box-shadow: #1C110A 2px 2px 5px;
    color: #f1f1f1;
}

.contenitore_immagine_homepage {
    background-color: rgba(28, 17, 10, 0.2);
    border: 0.15em #1c110a solid;
    border-radius: 0.3em;
    width: 100%;
}

.contenitore_immagine_homepage a img {
    width: 100%;
    border-radius: 0.3em;
}

.contenitore_bottone_acquista {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.contenitore_bottone_acquista .button-acquista {
    width: 100%;
}

.contenitore_bottone_acquista .button-acquista, .contenitore_scoperta .contenitore_bottone_scopri input {
    border-radius: 1em;
    background-color: #ff7700;
}